In [ ]:
days = 365

In [ ]:
days_1 = 365
days_2 = 365

In [ ]:
number_of_days = 365
number_of_days = 366

In [1]:
#print
print(365)

365

In [2]:
number_of_days = 365
print(number_of_days)

365

In [3]:
print('hellp python')

hellp python

In [4]:
str_test = 'China'
int_test = 123
float_test = 122.5

print(str_test)
print(int_test)
print(float_test)

China
123
122.5

In [5]:
print(type(str_test))
print(type(int_test))
print(type(float_test))

<class 'str'>
<class 'int'>
<class 'float'>

In [9]:
str_eight = str(8)
# str_eight + 10
print(type(str_eight))
eight = 8
str_eight_two = str(eight)

str_eight = '8'
int_eight = int(str_eight)
int_eight + 10
print(type(int_eight))

<class 'str'>
<class 'int'>

In [ ]:
str_test = 'test'
str_to_int = int(str_test)

In [ ]:
# Addition: +
# substraction: -
# multiplication: *
# division: /
# exponent: **

In [10]:
china = 10
us = 100
china_plus_10 = china + 10
us_times_100 = us * 100
print(china_plus_10)
print(us_times_100)
print(china**2)

20
10000
100

In [14]:
# List
months = []
print(type(months))
print(months)
months.append("Jan")
months.append('Feb')
print(months)

<class 'list'>
[]
['Jan', 'Feb']

In [15]:
months = []
months.append(1)
months.append("Jan")
months.append(2)
months.append('Feb')
print(months)

[1, 'Jan', 2, 'Feb']

In [16]:
tmps = ["China",122.5,"india",124.0,"us",134.1]

In [18]:
countries = []
temps = []

countries.append("china")
countries.append("india")
countries.append("us")

temps.append(30.1)
temps.append(22.3)
temps.append(10.2)

print(countries)
print(temps)

china = countries[0]
china_temps = temps[0]
print(china)
print(china_temps)

['china', 'india', 'us']
[30.1, 22.3, 10.2]
china
30.1

In [19]:
int_months = [1,2,3,4,5,6,7,8,9,10,11,12]
# length = len(int_months) # contains the integer value 12
print(length)

12

In [21]:
int_months = [1,2,3,4,5,6,7,8,9,10,11,12]
index = len(int_months) - 1
last_value = int_months[index] #contains the value at index 11
print(last_value)
print(int_months[-1])

12
12

In [26]:
# slicing
months = ["jan","feb","mar","apr","may","jun","jul"]
# values at index 2,3,but not 4
two_four = months[2:4]
print(two_four)

['mar', 'apr', 'may', 'jun']

In [27]:
three_six = months[3:]
print(three_six)

['apr', 'may', 'jun', 'jul']